# ---------- Python ----------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# ---------- Node ----------
node_modules/
dist/
.vite/
package-lock.json

# ---------- Java (old backend) ----------
target/
*.jar
.mvn/
maven-wrapper.jar

# ---------- Logs ----------
*.log
npm-debug.log*

# ---------- IDE ----------
.vscode/
.idea/
*.swp

# ---------- OS ----------
.DS_Store
Thumbs.db
.vercel
